.manager{
    width: 100%;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-sizing: border-box;
}

.manager-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.manager-top-btn{
    font-size: 1.4rem;
    margin-right: 3rem;
    background: transparent;
    color: #999;
    transition: all 0.25s;
}

.manager-top-btn:hover{
    color: #6F8AE8;
    font-weight: 500;
    cursor: pointer;
}

.changed-div{
    color: #6F8AE8;
}

.div32{
    position: relative;
    top: 0;
    left: 0;
}

.sliderr-bar{
    position: absolute;
    top: 2.5rem;
    left: 4.5rem;
    height: 0.4rem;
    width: 3rem;
    border-radius: 0.3rem;
    background-color: #6F8AE8;
}

.sliderrr-bar{
    position: absolute;
    top: 2.5rem;
    left: 19rem;
    height: 0.4rem;
    width: 3rem;
    border-radius: 0.3rem;
    background-color: #6F8AE8;
}

.manager-top-add-btn{
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
    background-color: #6F8AE8;
    border-radius: 0.5rem;
    color: white;
    font-weight: 300;
    transition: all 0.3s;
}

.manager-top-add-btn:hover{
    cursor: pointer;
    background-color: #2d53da;
}

.manager-bottom{
    box-sizing: border-box;
    overflow-y: scroll;
    padding-right: 1.5rem;
    height: calc(100vh - 27rem);
}



/* width */
.manager-bottom::-webkit-scrollbar {
    width: 0.5rem;
}
  
  /* Track */
.manager-bottom::-webkit-scrollbar-track {
    background: transparent; 
}
   
  /* Handle */
.manager-bottom::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 0.6rem;
}
  
  /* Handle on hover */
.manager-bottom::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

