.manager{
    width: 100%;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-sizing: border-box;
}

.manager-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manager-top-btn{
    font-size: 1.4rem;
    margin-right: 3rem;
    background: transparent;
    color: #999;
}

.manager-top-add-btn{
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(0, 162, 255);
    border-radius: 1rem;
    color: white;
    font-weight: 300;
}

.manager-bottom{
    padding: 2rem 0; 
    box-sizing: border-box;
}