.product-container{ 
    width: 100%;
    height: 6.5rem;   
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 6.5rem 2rem 12rem 1fr 20rem 1fr 8rem 2fr 4rem 1rem 4rem;
}

.product-image-container{
    height: 6.5rem;
    width: 6.5rem;
    overflow: hidden;
    background-color: #bbb;
    border-radius: 0.5rem;
}

.product-image-style{
    height: 100%;
}

.product-center-div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.product-center-div:hover{
    cursor: pointer;
}

.product-category-stylee{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.4rem;
    color: #777;
}

.product-category-style2{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.45rem;
    color: #777;
    font-weight: 500;
}

.coin-icon{
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.5rem;
}


.product-btn-style{
    width: 4rem;
    height: 4rem;
}