*{
  padding: 0;
  border: 0;
  margin: 0;
  outline: none;
  font-family: Poppins;
  text-decoration: none;
}

html{
  font-size: 62.5%;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.flex2{
  display: flex;
  align-items: center; 
}

.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: #F5F8FC;
  grid-template-columns: 25.6rem 1fr;
}

.container2{
  width: 100%;
  box-sizing: border-box;
  padding: 0 4rem;
  overflow-y: scroll;
}

.side-bar{
  width: 25.6rem;
  height: 100vh;
  display: grid;
  grid-template-rows: 13rem 1fr 26rem;
  background-color: white;    
}

.main-logo{
  height: 4.5rem;
  width: 4.5rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.main-heading-style{
  font-size: 3.4rem;
  font-family: Poppins;
  font-weight: bolder;
}

.side-bar-btn-style-p{
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #8A8FA1;
  background: transparent;
}

.side-bar-btn-style{
  height: 4.8rem;
  width: 22.4rem;
  justify-content: flex-start;
  transition: all 0.25s;
}

.side-bar-btn-style:hover{
  background-color: #eee;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bolder;
}

.side-bar-btn-style:hover .side-bar-btn-style-p{
  font-weight: 500;
  color: #6F8AE8;
}





.side-bar-img-style{
  margin: 0 1.6rem;
  margin-right: 1.4rem;
  height: 2.4rem;
  width: 2.4rem;
}


.btns-container{
  display: flex;
  flex-flow: column;
  align-items: center;
}


.side-bar-bottom-box{
  width: 22.4rem;
  height: 20.1rem;
  /* border: 1px solid #438AEC; */
  /* border-radius: 1rem; */
  background: url('./Assets/icons/ProBox.svg');
  background-position: center;
  background-size: 100% 100%;
}

