.banners-container{
    overflow-y: scroll;
    padding-right: 1.5rem;
    height: calc(100vh - 27rem);
}


/* width */
.banners-container::-webkit-scrollbar {
    width: 0.5rem;
}
  
  /* Track */
.banners-container::-webkit-scrollbar-track {
    background: transparent; 
}
   
  /* Handle */
.banners-container::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 0.6rem;
}
  
  /* Handle on hover */
.banners-container::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

