.slider-box{
    width: 100%;
    height: 24rem;
    background-color: #ddd;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.slider-image-wrapper{
    width: 100%;
    height: 24rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 1rem;
}

.slider-image-clas{
    width: 100%;
    align-self: center;
}